{% extends 'base.html' %}
{% block content %}

<h1>Customer Contact</h1>
<br />

<div class="card">
    <div class="card-header">
        <h2>{{ customer_contact.first_name }} {{ customer_contact.last_name }}</h2>
      
    </div>
    <div class="card-body">
        <p class="card-text">
        <strong>Email: </strong>{{ customer_contact.email }}</p>
        <p class="card-text">
        <strong>Address 1: </strong>{{ customer_contact.address_line_1 }}</p>
        <p class="card-text">
        <strong>Address 2: </strong>{{ customer_contact.address_line_2 }}</p>
        <p class="card-text">
        <strong>City: </strong>{{ customer_contact.city }}</p>
        <p class="card-text">
        <strong>State: </strong>{{ customer_contact.state }}</p>
        <p class="card-text">
        <strong>Zipcode: </strong>{{ customer_contact.zipcode }}</p>
            <p class="card-text">
                <strong>Profile Picture: </strong>{{ customer_contact.profile_picture }}</p>
            {% load tz %}
            {% if customer_contact.profile_picture and customer_contact.profile_picture.url %}
                <img src="{{ customer_contact.profile_picture.url }}?{{ customer_contact.updated_at|date:"U" }}" alt="{{ customer_contact.first_name }} {{ customer_contact.last_name }}" class="img-thumbnail" style="max-width: 200px;">
            {% else %}
                <p>No profile picture available.</p>
            {% endif %}
            <p class="card-text">
                <strong>Created At: </strong>{% load tz %}{{ customer_contact.created_at|timezone:"America/Chicago" }}</p>
        <p class="card-text">
        <strong>Contact ID: </strong>{{ customer_contact.id }}</p>
        </p>
    </div>
  </div>
{% comment %} TEST {% endcomment %}
<br /><br />
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'contact_delete' customer_contact.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'contact_update' customer_contact.id %}" class="btn btn-success">Edit Contact</a>

{% endblock %}