{% extends 'base.html' %}

{% block content %}

{% comment %} Bootstrap's code for centering all content {% endcomment %}
<div class="col-md-6 offset-md-3">

    {% comment %} checking user authentication {% endcomment %}
    {% if user.is_authenticated %}
    
    <h1>Hello World</h1>

    {% else %}

<h1>Login</h1>
<br />
<form method="POST" action="{% url 'home' %}">
    {% comment %} cross-site request forgery token to prevent form hacking {% endcomment %}
{% csrf_token %}
<form>
    <div class="mb-3">
      <input type="text" class="form-control" name="username", placeholder="User Name" required>
    </div>
    <br />
    <div class="mb-3">
      <input type="password" class="form-control" name="password", placeholder="Password" required>
    </div>
    <br />
    <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</form>
</div>

{% endif %}

{% endblock %}